//-
    name: offer
    description: Markup for the offer block
    arguments:
        - {object} props - block properties

mixin offer(data = {})
    .offer&attributes(attributes)
        .container
            .h3.offer_title= data.title
            .row
                //- .offer_slider
                //-     each item in data.productWoman
                //-         .offer_slides
                //-             img(src=item, alt="alt")
                //-             p.descr= data.descr
