/**
 * Styles for the choice block.
 */
.choice {
    // Selector styles
    // TODO: add code
    margin-top: 30px;

    // @media queries
    // TODO: add code

    // Pseudo-classes aSnd pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // BEM elements
    // TODO: add code
    &__panel {
        position: relative;
        overflow: hidden;
    }

    &__panel:hover > &__image {
        transform: scale(1.3);
    }

    &__image {
        display: block;
        max-width: 100%;
        transition: 10s linear;
    }

    &__link {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        padding-left: $gutter*2;
    }

    // Bem modifiers
    // TODO: add code
}
