/**
 * Styles for the copyrights block.
 */
.copyrights {
    // Selector styles
    // TODO: add code
    color: #201c37;
	font-size: 16px;
    font-weight: 400;
    font-family: 'Archivo';
    padding: 10px 0;

    .copy{
        display: flex;
        justify-content: center;
    }

    // @media queries
    // TODO: add code

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // BEM elements
    // TODO: add code

    // Bem modifiers
    // TODO: add code
}
